{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block content %}
<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Search Page</h1>
            <ul class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li class="active">search</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Search <span>Result</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="row">
            {% if cars %}
                {% for car in cars %}
                <div class="col-lg-4 col-md-6">
                    <div class="car-box">
                        <div class="car-thumbnail" style="height: 262px">
                            <a href="car-details.html" class="car-img">
                                <div class="tag">For Sale</div>
                                <img class="d-block w-100" src="{{ car.car_image.url }}" alt="car">
                                <div class="facilities-list clearfix">
                                    <ul>
                                        <li>
                                            <span><i class="flaticon-way"></i></span>{{ car.milage }} km
                                        </li>
                                        <li>
                                            <span><i class="flaticon-calendar-1"></i></span>{{car.year}}
                                        </li>
                                        <li>
                                            <span><i class="flaticon-manual-transmission"></i></span>{{ car.transmission }}
                                        </li>
                                    </ul>
                                </div>
                            </a>
                            <div class="carbox-overlap-wrapper">
                                <div class="overlap-box">
                                    <div class="overlap-btns-area">
                                        <div class="car-magnify-gallery">
                                                {% if car.car_image_1 %}
                                                <a href="{{ car.car_image_1.url }}" class="overlap-btn">
                                                    <i class="fa fa-expand"></i>
                                                    <img class="hidden" src="{{ car.car_image_1.url }}">
                                                </a>
                                                {% endif %}
                                                {% if car.car_image_2 %}
                                                <a href="{{ car.car_image_2.url }}" class="hidden">
                                                    <img class="hidden" src="{{ car.car_image_2.url }}">
                                                </a>
                                                {% endif %}
                                                {% if car.car_image_3 %}
                                                <a href="{{ car.car_image_3.url }}" class="hidden">
                                                    <img class="hidden" src="{{ car.car_image_3.url }}">
                                                </a>
                                                {% endif %}
                                                {% if car.car_image_4 %}
                                                <a href="{{ car.car_image_4.url }}" class="hidden">
                                                    <img class="hidden" src="{{ car.car_image_4.url }}">
                                                </a>
                                                {% endif %}
                                                {% if car.car_image_5 %}
                                                <a href="{{ car.car_image_5.url }}" class="hidden">
                                                    <img class="hidden" src="{{ car.car_image_5.url }}">
                                                </a>
                                                {% endif %}
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail">
                            <h1 class="title">
                                <a href="{% url 'car-details' car.id %}">{{car.car_title}}</a>
                            </h1>
                            <div class="location">
                                <a href="{% url 'car-details' car.id %}">
                                    <i class="flaticon-pin"></i>{{ car.address }}
                                </a>
                            </div>
                        </div>
                        <div class="footer clearfix">
                            <div class="pull-left ratings days">
                                <p class="cartype">{{ car.body_style }}</p>
                            </div>
                            <div class="pull-right">
                                <p class="price">${{car.price|intcomma}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="not-found">
                    <h3>Search item not found</h3>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
