{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!-- Sub banner start -->
    <div class="sub-banner overview-bgi">
        <div class="container breadcrumb-area">
            <div class="breadcrumb-areas">
                <h1>Dashboard Page</h1>
                <ul class="breadcrumbs">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Dashboard</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Sub Banner end -->

    <!--   Dashboard Start   -->

    <div class="container mt-50 mb-50">
        <div class="main-title" style="text-align:left !important;">
            <h1>Welcome <span>{{ user.first_name }} {{ user.last_name }}</span></h1>
            <p>Here are the cars that you have inquired about</p>
        </div>
        {% if inquires %}
             <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Car Name</th>
                  <th scope="col">Location</th>
                  <th scope="col">Price</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
              {% for inquiry in inquires %}
                <tr>
                  <th scope="row">3</th>
                  <td>{{ inquiry.car_title }}</td>
                  <td>{{ inquiry.car_address }}</td>
                  <td>${{ inquiry.car_id.price }}</td>
                  <td><a href="{% url 'car-details' inquiry.car_id.id %}" class="btn btn-outline-dark">View Car</a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        {% else %}
            <h3>You have no inquires</h3>
        {% endif %}
    </div>
    <!--   Dashboard End   -->

{% endblock %}
